@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

@font-face {
font-family: arialnarrow; 
src: url(ARIALN.TTF);
}
